name: Publish

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go 1.20
        uses: actions/setup-go@v3
        with:
          go-version: '1.20'
      - name: Setup SSH Keys and known_hosts
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts
      - name: Set up git
        run: |
          git config --global url.ssh://git@github.com/.insteadOf https://github.com/
      - name: Install dependencies
        run: GOPRIVATE=github.com/NetfluxESIR go mod download
      - name: Test
        run: go test -v ./...
  publish:
    needs: test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    permissions:
      contents: write
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - id: lower
        uses: ASzc/change-string-case-action@v1
        with:
          string: ${{ github.repository }}
      - name: Setup SSH Keys and known_hosts
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
      - name: Build and push
        run: |
          docker build -t ghcr.io/${{ steps.lower.outputs.lowercase }}:${{ github.run_number }} -t ghcr.io/${{ steps.lower.outputs.lowercase }}:latest --build-arg ssh_prv_key="$(cat ~/.ssh/id_rsa)"
          docker push ghcr.io/${{ steps.lower.outputs.lowercase }}:${{ github.run_number }}
          docker push ghcr.io/${{ steps.lower.outputs.lowercase }}:latest